# Deep Learning
torch
torchaudio
torchvision

# Transformer
transformers
tokenizers

# Data processing
numpy
pandas
tqdm

# MIDI processing
mido
pretty_midi
music21

# Audio processing
librosa
soundfile

# Visualization
matplotlib

# Utilities
scikit-learn
pyyaml